// Load CSS Reset from NPM
@import "~normalize.css";
@import "~bootstrap/scss/bootstrap";

$nuru-green: #026938;
$nuru-blue: #0f3f60;

$font-headline: 'Fira Sans', sans-serif;
$font-body: 'Raleway', sans-serif;

$spacer: 105px;

html,
body {
  font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headline;
  color: $nuru-green;
}

span.title-underline {
  display: block;
  margin: 5px auto 30px;
  width: 250px;
  height: 3px;
  background-color: $nuru-green;

  .hidden { display: none; }
}

a.scroll-top {
  opacity: 0;
  display: block;
  position: fixed;
  bottom: -20px;
  right: 20px;
  z-index: 99;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-image: url(../images/scroll-top.svg);
  background-color: $nuru-green;
  background-size: 60%;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 10px;
  overflow: hidden;
  transition: all 400ms ease;

  &.on {
    opacity: 1;
    bottom: 20px;
  }
}

header { display: none; }

@include media-breakpoint-up(sm) {
  header {
    display: block;
    background: white;
    width: 100%;
    z-index: 9;

    nav.navbar {
      width: 100%;

      a.navbar-brand {
        img.icon {
          width: 40px;
          min-height: auto;
          transition: all 200ms ease-in-out;
        }

        img.text {
          width: 100px;
          min-height: auto;
          margin-left: 0.4rem;
          transition: all 200ms ease-in-out;
        }
      }

      a.nav-link {
        font-family: $font-headline;
        color: #222;

        &.active {
          color: $nuru-green;
          background-color: transparent;
        }

        &:hover,
        &:active {
          color: $nuru-green;
        }
      }
    }

    &.top {
      nav.navbar a.navbar-brand {
        img.icon {
          width: 80px;
          min-height: auto;
          opacity: 1;
        }

        img.text {
          width: 160px;
          min-height: auto;
          margin-left: 1rem;
        }
      }
    }
  }
}

.spacer {
  height: $spacer;
}

main {
  position: relative;
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;

  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax {
  min-height: 50vh;
  background-size: contain;
  background-position: 50%;
}

section {
  padding: 4rem 0;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);

  &.vision {
    padding: 0;

    @include media-breakpoint-up(sm) {
      background-image: url(../images/vision.jpg);
      background-size: cover;
      min-height: calc(100vh - #{$spacer});
      padding: 4rem 0;
    }

    .inner {
      background-color: rgba(255, 255, 255, 0.8);
      // padding: 2rem 1rem;
      margin-top: 2rem;
      max-width: 1200px;

      @include media-breakpoint-up(sm) {
        padding: 5%;
        margin-top: 0;
      }
    }

    .vision-branding {
      max-width: 250px;
      margin: auto;

      > img {
        display: block;

        &.text {
          margin-top: 1rem;
        }
      }

      .strap {
        position: relative;
        min-height: 50px;

        img {
          position: absolute;
          width: 100%;
          opacity: 0;
          transition: all 500ms ease-in-out;

          &.visible {
            opacity: 1;
          }
        }
      }
    }

    .mission {
      p {
        font-size: 130%;
        line-height: 1.1;
      }
    }
  }

  &.about {
    background-color: #efefef;
    font-size: 18px;

    .inner {
      background-color: white;
      padding: 5%;
    }
  }

  &.team {
    .team-member {
      position: relative;
      z-index: 0;
      transition: all 200ms ease-in-out;
      border-top-left-radius: 140px;
      border-top-right-radius: 140px;
      cursor: help;

      .title {
        width: 100%;
        padding: 1rem 1rem 0;
        position: relative;
        z-index: 100;
        transition: all 200ms ease-in-out;

        h2 {
          font-size: 22px;
          text-align: center;
        }

        p {
          font-size: 14px;
          text-align: center;
          padding: 0 10px;
        }
      }

      .photo {
        position: relative;
        z-index: 100;

        img {
          max-width: 100%;
          border-radius: 100%;
        }
      }

      .detail {
        position: absolute;
        top: 0;
        z-index: 0;
        padding: 1rem;
        opacity: 0;
        transition: all 200ms ease-in-out;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.3;
      }

      .close {
        display: none;
        position: absolute;
        bottom: -10px;
        right: 15px;
        padding: 5px;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        border: none;
        background-image: url(../images/close.svg);
        opacity: 1;
        outline: none;
      }

      &.on {
        background: $nuru-green;
        z-index: 99;

        .close {
          display: block;
        }

        .title {
          p,
          h2 {
            color: white;
          }
        }

        .detail {
          top: 100%;
          background: $nuru-green;
          color: white;
          z-index: 99;
          opacity: 1;
        }
      }
    }
  }

  &.partners-investors {
    background-color: #efefef;

    .inner {
      background-color: white;
      padding: 5%;
    }

    .partner-logos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      img {
        display: inline-block;
        max-width: 250px;
        margin: 2.5%;
      }
    }
  }

  &.contact {
    background-color: $nuru-blue;

    h2 {
      color: white;
    }

    span.title-underline {
      background-color: white;
    }

    form {
      input.email {
        width: 100%;
        padding: 1rem;
      }

      input.button {
        display: block;
        margin: 1rem auto;
        background-color: $nuru-green;
        color: white;
        padding: 1rem 3rem;
        border: none;
        font-family: $font-headline;
        font-size: 20px;

        &:hover,
        &:active {
          background-color: lighten($nuru-green, 10%);
        }
      }
    }

    .info {
      color: white;
      line-height: 1.2;
      font-size: 20px;

      p { margin-bottom: 0.5rem; }
      a { color: white; }
    }
  }
}

ul.social {
  list-style: none;
  margin: 2.5rem 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    margin: 0 10px;

    a {
      display: block;
      width: 30px;
      height: 30px;
      fill: white;

      &:hover,
      &:active {
        fill: $nuru-green;
      }
    }
  }
}
